body {
  background-color: aquamarine;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cardlist {
  display: flex;
  flex-direction: column;
}
