body {
  background-color: #ebe9e4;
  font-family: "Work Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerbox {
  width: 1000px;
}

h1 {
  font-weight: 200;
  letter-spacing: 1px;
}

.topbar {
  width: 850px;
  margin: 20px 15px 11px;
  display: flex;
  justify-content: space-between;
}

.search {
  width: 300px;
  border: none;
  height: 20px;
  border-radius: 50px;
  margin-left: 10px;
}

.fa-search {
  position: absolute;
  margin-left: 288px;
  margin-top: 2px;
  color: gray;
}

.order {
  margin-right: 20px;
}

#grid {
  display: none;
}

.cardlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cardliststyle {
  width: 200px;
  background-color: #a6b8a8;
  margin: 10px;
  border-radius: 15px;
  height: 400px;
}

.cardliststyle:nth-child(3n + 0) {
  background-color: #e8cdad;
}

.cardliststyle:nth-child(3n + 2) {
  background-color: #e1d3c7;
}

.square {
  position: absolute;
  margin-left: 150px;
  margin-top: 150px;
  width: 50px;
  height: 50px;
  background-color: #fff;
}

.circle {
  position: absolute;
  z-index: 1;
  margin-left: 150px;
  margin-top: 150px;
  width: 50px;
  height: 50px;
  background-color: inherit;
  border-radius: 0 0 40px 0;
}

.bg-color {
  position: absolute;
  border-radius: 15px;
  width: 150px;
  height: 110px;
}

.bg-white {
  background-color: #fff;
  position: absolute;
  width: 200px;
  height: 200px;
  margin-top: 200px;
  border-radius: 40px 0px 15px 15px;
  z-index: 1;
}

.profilepic {
  border-radius: 70px;
  width: 110px;
  height: 110px;
  margin-left: 45px;
  margin-top: 145px;
  position: absolute;
  z-index: 3;
}

.name-city {
  position: absolute;
  top: -150px;
  width: 200px;
  text-align: center;
}

.name {
  font-weight: bold;
  margin-bottom: 180px;
  font-size: 16px;
}

.city {
  color: #292929;
  margin: 5px;
}

.phone-email {
  position: absolute;
  text-align: center;
  right: 55px;
  top: 130px;
  display: flex;
}

.email {
  margin: 10px;
  font-size: 24px;
}

.phone {
  margin: 10px;
  font-size: 24px;
}

a {
  color: black;
}

a::after {
  color: black;
}

@media (max-width: 768px) {
  .headerbox {
    width: 290px;
  }

  h1 {
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 24px;
  }

  .topbar {
    width: 300px;
    margin: 10px;
    display: flex;
  }

  .search {
    width: 280px;
    margin-bottom: 20px;
  }

  .fa-sort {
    position: absolute;
    margin-left: 10px;
    margin-top: 40px;
  }

  .fa-search {
    margin-left: 270px;
  }

  .order {
    margin-top: 40px;
    margin-left: -40px;
  }

  #grid {
    display: none;
  }

  .cardlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cardliststyle {
    width: 135px;
    height: 220px;
  }

  .square {
    margin-left: 85px;
    margin-top: 60px;
  }

  .circle {
    margin-left: 84px;
    margin-top: 55px;
    width: 51px;
    height: 51px;
  }

  .bg-color {
    width: 135px;
    height: 50px;
  }

  .bg-white {
    width: 135px;
    height: 115px;
    margin-top: 105px;
  }

  .profilepic {
    border-radius: 70px;
    width: 90px;
    height: 90px;
    margin-left: 25px;
    margin-top: 55px;
  }

  .name-city {
    top: -90px;
    width: 100px;
    margin-left: 20px;
  }

  .name {
    margin-bottom: 160px;
    font-size: 11px;
  }

  .city {
    color: #292929;
    margin: -45px 5px 5px 5px;
    font-size: 11px;
  }

  .phone-email {
    text-align: center;
    right: 35px;
    top: 80px;
  }

  .email {
    margin: 7px;
    font-size: 16px;
  }

  .phone {
    margin: 7px;
    font-size: 16px;
  }
}
